body {
    margin: 0;
    background: rgb(35, 35, 45);
    color: white;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 10px black;
}

header, footer {
    text-align: center;
    background: rgba(255, 255, 255, .1);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

section {
    background: rgba(255, 255, 255, .0375);
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
}

#green-sunday {
    background: green;
}

#colorful-day, #green-sunday {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
}