:root {
    --text: #fef9ec;
    --background: #140f00;
    --primary: #ff8400;
    --secondary: #291f00;
    --accent: #f86c30;
}

@font-face {
    font-family: "Gabarito";
    src: url("Gabarito.ttf");
}

body {
    box-sizing: border-box;
    font-family: Gabarito, sans-serif;
    font-size: 150%;
    margin: 0;
    color: var(--text);
    background-size: cover;
    background: var(--background);
    background-size: cover;
}

header, footer {
    background: var(--secondary);
    padding: 2rem;
    text-shadow: 0 0 10px black;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
}

header h1 {
    margin: 0;
}

#koszyk {
    height: 1rem;
    transition: .5s all;
    margin-right: 2rem;
}

#koszyk img {
    height: 2em;
}

#koszyk:hover {
    scale: 105%;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    font-size: 80%;
}

#right-footer {
    text-align: right;
    width: 50%;
}

#left-footer {
    width: 50%
}

#grid {
    display: grid;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 5rem 5rem;
    gap: 2%;
}

#grid div {
    text-shadow: 0 0 1rem black;
    aspect-ratio: 1.5;
    width: 27vw;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    transition: .5s all;
    box-shadow: inset 0 0 10vw rgb(0, 0, 0);
}

#grid div:hover {
    scale: 105%;
    box-shadow: inset 0 0 7vw rgb(0, 0, 0);
    cursor: pointer;
}

#grid div > h2 {
    scale: 0;
    text-align: center;
    transition: .5s all;
    position: relative;
}

#grid div:hover > h2 {
    scale: 100%;
}

#grid div p {
    text-transform: uppercase;
    font-size: 150%;
    margin: 0;
    padding: 1rem 2rem;

}

#chleb {
    grid-row: 1;
    background-image: url(chleb.png) !important;
}

#bułki {
    grid-row: 1;
    background-image: url(bulka.png) !important;
}

#bagietki {
    grid-row: 1;
    background-image: url(bagietka.png) !important;
}

.center-header {
    text-align: center;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cena {
    font-size: 50% !important;
}

#zamowienie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250vh);
    background: var(--text);
    color: var(--background);
    padding: 1rem;
    border-radius: 1rem;
    transition: .5s all ease;
}

#zamowienie h1 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 1rem 1rem 1rem;
}

table {
    margin: 0 auto;
}

table, th, td {
    border: 2px solid var(--background);
    border-collapse: collapse;
}

th, td {
    padding: 1rem;
    text-align: center;
}

#zamowienie button {
    margin: 0 auto;
}

#technicalZamowienie {
    visibility: hidden;
    scale: 0;
}

#buttons-in-form {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0 0;
}

#buttons-in-form button {
    margin: 0;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--background);
    background: var(--secondary);
    color: var(--text);
    transition: .5s all;
}

#buttons-in-form button:focus, #buttons-in-form button:hover {
    border: 2px solid var(--text);
    outline: 1px solid var(--secondary);
}

#elementWiek {
    margin: 0 auto;
    width: fit-content;
    padding-top: 1rem;
}

form input {
    padding: .5rem;
    border-radius: .5rem;
    border: 2px solid var(--background);
}