:root {
    --text: #fef9ec;
    --background: #140f00;
    --primary: #ff8400;
    --secondary: #291f00;
    --accent: #f86c30;
}

@font-face {
    font-family: "Gabarito";
    src: url("Gabarito.ttf");
}

body {
    box-sizing: border-box;
    font-family: Gabarito, sans-serif;
    font-size: 150%;
    margin: 0;
    color: var(--text);
    background-size: cover;
    background: var(--background);
    background-size: cover;
}

header, footer {
    background: var(--secondary);
    padding: 1rem;
    text-shadow: 0 0 10px black;
}

header {
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
}

#koszyk {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    text-align: right;
    float: left;
}

#koszyk:hover {
    text-decoration: underline white;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    font-size: 80%;
}

#right-footer {
    text-align: right;
    width: 50%;
}

#left-footer {
    width: 50%
}

#grid {
    display: grid;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0 5rem 5rem;
}

#grid div {
    text-shadow: 0 0 1rem black;
    aspect-ratio: 1.5;
    min-width: 25vw;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    transition: .5s all;
    box-shadow: inset 0 0 10vw rgb(0, 0, 0);
}

#grid div:hover {
    scale: 105%;
    box-shadow: inset 0 0 7vw rgb(0, 0, 0);
    cursor: pointer;
}

#grid div > h2 {
    scale: 0;
    text-align: center;
    position: relative;
    vertical-align: middle;
    transition: .5s all;
}

#grid div:hover > h2 {
    scale: 100%;
}

#grid div p {
    text-transform: uppercase;
    font-size: 150%;
    margin: 0;
    padding: 1rem 2rem;

}

#chleb {
    grid-row: 1;
    background-image: url(chleb.png) !important;
}

#bułki {
    grid-row: 1;
    background-image: url(bulka.png) !important;
}

#bagietki {
    grid-row: 1;
    background-image: url(bagietka.png) !important;
}

.center-header {
    text-align: center;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

.cena {
    font-size: 50% !important;
}